<!-- FOOTER -->
<footer>

<div class="inner">
	<p>上次更新于{{ site.time | date_to_long_string }}。诚邀您作出贡献和改善<a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">本页</a>，<a href="https://github.com/fontforge/designwithfontforge.com">学习如何做</a>。</p>
	<p>Copyright &copy; 2012 - 2014, The Design With FontForge Authors. <a href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages/AUTHORS.txt">Learn more...</a></p>
	<p><a xmlns:cc="http://creativecommons.org/ns#" href="http://designwithfontforge.com" property="cc:attributionName" rel="cc:attributionURL">FontForge社区</a>的“<a href="//designwithfontforge.com"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">使用FontForge进行设计</span></a>”采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>许可证。</p>
	<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a></p>
</div>

</footer>
