<!-- FOOTER -->
<footer>

<div class="inner">
  <p>
    آخرین به‌روزرسانی
    {{ site.time | date_to_long_string }}
    .
    شما را دعوت می‌کنیم به
    <a href="https://github.com/fontforge/designwithfontforge.com">مشارکت</a>
    در بهبود
    <a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">این صفحه</a>
    .
  </p>
  <p>
    حق‌نشر &copy; 2012 - 2017،
    <a href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages/AUTHORS.txt">پدیدآورندگان</a>
    طراحی با فونت‌فورج.
  </p>
  <p>
    ‘<a href="//designwithfontforge.com"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">طراحی با فونت‌فورج</span></a>’
    اثری از
    <a xmlns:cc="http://creativecommons.org/ns#" href="http://designwithfontforge.com" property="cc:attributionName" rel="cc:attributionURL">اجتماع فونت فونت‌فورج</a>
    تحت پروانهٔ
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC BY-SA 3.0</a>
    منتشر شده است.
</div>

</footer>
