<!-- FOOTER -->
<footer>

<div class="inner">
	<p>上次更新時間為 {{ site.time | date_to_long_string }}。誠摯邀請您一同貢獻與改善 <a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">本頁內容</a>，<a href="https://github.com/fontforge/designwithfontforge.com">瞭解作法</a>。</p>
	<p>著作權所有 &copy; Nathan Willis, Vernon Adams, Eben Sorkin, Jason Pagura, Ben Martin, Dave Crossland, Matthew Skala, Martin B Brilliant。</p>
	<p>《<a href="//designwithfontforge.com"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">FontForge 與字體設計</span></a>》，作者：<a xmlns:cc="http://creativecommons.org/ns#" href="http://designwithfontforge.com" property="cc:attributionName" rel="cc:attributionURL">FontForge 社群</a>，採 <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> 授權。</p>
	<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a></p>
</div>

</footer>
