<!-- FOOTER -->
<footer>

<div class="inner">
  <p>Dernière mise à jour {{ site.time | date_to_long_string }}. Vous êtes invité à <a href="https://github.com/fontforge/designwithfontforge.com">contribuer</a> et à améliorer <a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">cette page</a>.</p>
  <p>Copyright &copy; 2012 - 2017, Les <a href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages/AUTHORS.txt">Authors</a> de Design With FontForge.</p>
  <p>‘<a href="//designwithfontforge.com"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Design With FontForge</span></a>’ par <a xmlns:cc="http://creativecommons.org/ns#" href="http://designwithfontforge.com" property="cc:attributionName" rel="cc:attributionURL">la communauté FontForge </a> est sous license <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC BY-SA 3.0</a>.
</div>

</footer>
