<!-- FOOTER -->
<footer>

<div class="inner">
  <p>Ultimo aggiornamento {{ site.time | date_to_long_string }}. Sei invitato a <a href="https://github.com/fontforge/designwithfontforge.com">contribuire</a> e a migliorare <a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">questa pagina</a>.</p>
  <p>Copyright &copy; 2012 - 2015, The Design With FontForge <a href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages/AUTHORS.txt">Autori</a>.</p>
  <p>‘<a href="//designwithfontforge.com"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Design With FontForge</span></a>’ by <a xmlns:cc="http://creativecommons.org/ns#" href="http://designwithfontforge.com" property="cc:attributionName" rel="cc:attributionURL">the FontForge Community</a> è sotto licenza<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC BY-SA 3.0</a>.
</div>

</footer>
