<header>
  <div class="inner">
    <h1><a href="/zh-CN/">{{ site.title_zh-CN }}</a></h1>
    <h2>{{ site.subtitle_zh-CN }}</h2>
    <div class="lang"><a href="../en-US/index.html" class="lang">[English Version]</a>&nbsp;|&nbsp;<a href="../zh-CN/index.html" class="lang">[简体中文版]</a>&nbsp;|&nbsp;<a href="../zh-TW/index.html" class="lang">[正體中文版]</a></div>
    <div class="ebook">下载 <a href="/ebook/design-with-fontforge_zh-CN.epub" class="ebook" rel="nofollow"><b>[ePUB]</b></a>&nbsp;|&nbsp;<a href="/ebook/design-with-fontforge_zh-CN.mobi" class="ebook" rel="nofollow"><b>[MOBI]</b></a>&nbsp;|&nbsp;<a href="/ebook/design-with-fontforge_zh-CN.pdf" class="ebook" rel="nofollow"><b>[PDF]</b></a></div>
    <a href="https://github.com/fontforge/designwithfontforge.com" class="button" target="_blank"><small>View project on</small>GitHub</a>
  </div>
</header>
