{% assign urlList = site.pages | map: 'url' %}

<header>
  <div class="inner">
    <h1><a href="/">{{ site.title_zh-TW }}</a></h1>
    <h2>{{ site.subtitle_zh-TW }}</h2>
    <div class="lang">
    	<a href="
    		{% assign ENurl = page.name | replace: '.md', '.html' | prepend: '/en-US/' %}
    		{% if urlList contains ENurl %}
    			{{ page.name | prepend: '../en-US/' | replace: '.md', '.html' }}
    		{% else %}
    			../en-US/index.html
    		{% endif %}	
    	" class="lang">[English]</a>&nbsp;|&nbsp;
    	<a href="
            {% assign CNurl = page.name | replace: '.md', '.html' | prepend: '/fr-FR/' %}
            {% if urlList contains CNurl %}
                {{ page.name | prepend: '../fr-FR/' | replace: '.md', '.html' }}
            {% else %}
                ../fr-FR/index.html
            {% endif %} 
        "class="lang">[Français]</a>&nbsp;|&nbsp;
        <a href="
    		{% assign CNurl = page.name | replace: '.md', '.html' | prepend: '/zh-CN/' %}
    		{% if urlList contains CNurl %}
    			{{ page.name | prepend: '../zh-CN/' | replace: '.md', '.html' }}
    		{% else %}
    			../zh-CN/index.html
    		{% endif %}	
    	"class="lang">[简体中文版]</a>&nbsp;|&nbsp;
    	<a href="#" class="lang">[正體中文版]</a>
			<a href="
    		{% assign TWurl = page.name | replace: '.md', '.html' | prepend: '/fa-IR/' %}
    		{% if urlList contains TWurl %}
    			{{ page.name | prepend: '../fa-IR/' | replace: '.md', '.html' }}
    		{% else %}
    			../fa-IR/index.html
    		{% endif %}	
    	" class="lang">[فارسی]</a>
    </div>
    <div class="ebook">下載 <a href="/ebook/design-with-fontforge_zh-TW.epub" class="ebook" rel="nofollow"><b>[ePUB]</b></a>&nbsp;|&nbsp;<a href="/ebook/design-with-fontforge_zh-TW.mobi" class="ebook" rel="nofollow"><b>[MOBI]</b></a>&nbsp;|&nbsp;<a href="/ebook/design-with-fontforge_zh-TW.pdf" class="ebook" rel="nofollow"><b>[PDF]</b></a></div>
    <a href="https://github.com/fontforge/designwithfontforge.com" class="button" target="_blank"><small>View project on</small>GitHub</a>
  </div>
</header>
