{% assign urlList = site.pages | map: 'url' %}

<header>
  <div class="inner">
    <h1><a href="/">{{ site.title }}</a></h1>
    <h2>{{ site.subtitle }}</h2>
    <div class="lang">
    	<a href="#" class="lang">[English]</a>&nbsp;|&nbsp;
        <a href="
            {% assign CNurl = page.name | replace: '.md', '.html' | prepend: '/fr-FR/' %}
            {% if urlList contains CNurl %}
                {{ page.name | prepend: '../fr-FR/' | replace: '.md', '.html' }}
            {% else %}
                ../fr-FR/index.html
            {% endif %} 
        "class="lang">[Français]</a>&nbsp;|&nbsp;
    	<a href="
    		{% assign CNurl = page.name | replace: '.md', '.html' | prepend: '/zh-CN/' %}
    		{% if urlList contains CNurl %}
    			{{ page.name | prepend: '../zh-CN/' | replace: '.md', '.html' }}
    		{% else %}
    			../zh-CN/index.html
    		{% endif %}	
    	"class="lang">[简体中文版]</a>&nbsp;|&nbsp;
    	<a href="
    		{% assign TWurl = page.name | replace: '.md', '.html' | prepend: '/zh-TW/' %}
    		{% if urlList contains TWurl %}
    			{{ page.name | prepend: '../zh-TW/' | replace: '.md', '.html' }}
    		{% else %}
    			../zh-TW/index.html
    		{% endif %}	
    	" class="lang">[正體中文版]</a>
			<a href="
    		{% assign TWurl = page.name | replace: '.md', '.html' | prepend: '/fa-IR/' %}
    		{% if urlList contains TWurl %}
    			{{ page.name | prepend: '../fa-IR/' | replace: '.md', '.html' }}
    		{% else %}
    			../fa-IR/index.html
    		{% endif %}	
    	" class="lang">[فارسی]</a>
    </div>
    <div class="ebook">Download as <a href="/ebook/design-with-fontforge_en-US.epub" class="ebook" rel="nofollow">[ePUB]</a>&nbsp;|&nbsp;<a href="/ebook/design-with-fontforge_en-US.mobi" class="ebook" rel="nofollow">[MOBI]</a>&nbsp;|&nbsp;<a href="/ebook/design-with-fontforge_en-US.pdf" class="ebook" rel="nofollow">[PDF]</a></div>
    <a href="https://github.com/fontforge/designwithfontforge.com" class="button" target="_blank"><small>View project on</small>GitHub</a>
  </div>
</header>
