{% include html-start.html %}

	{% include header-masthead_zh-CN.html %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </section>

        <aside id="sidebar">
<!--          <a href="" class="button">
            <small>Download book as</small>
            PDF
          </a>-->
          <ol class="rectangle-list">
          {% for weight in (1..100) %}
            {% for p in site.pages %}
              {% if p.weight > 0 %}
              {% if p.weight == weight %}
              {% if p.path contains 'zh-CN' %}
                <li>
                  <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                    {{ p.title }}
                  </a>
                </li>
              {% endif %}
              {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ol>
          <p>本书充满自由文化，<a href="//github.com/fontforge/designwithfontforge.com/" target="_blank">托管在Github上</a>。欢迎补丁，建议和修正。</p>
          <p><a class"" href="https://github.com/fontforge/designwithfontforge.com/commits/gh-pages">检查最近的变更</a></p>
          <p><a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">编辑本页</a> (<a href="https://github.com/fontforge/designwithfontforge.com">学习如何做</a>)</p></p>
        </aside>
      </div>
    </div>

{% include footer_zh-CN.html %}

{% include html-end.html %}
