{% include html-start.html %}

	{% include header.html %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>{{ page.title }}</h1>
          <p>{{ content }}</p>
        </section>

        <aside id="sidebar">

          <ol>
          {% for weight in (1..10) %}
            {% for p in site.pages %}
              {% if p.weight == weight %}
                <li>
                  <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                    {{ p.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ol>
          <p class="repo-owner">You can change this page <a href="https://github.com/fontforge/designwithfontforge.com">on GitHub</a>.</p>
        </aside>
      </div>
    </div>

{% include footer.html %}

{% include html-end.html %}