{% include html-start.html %}

	{% include header.html %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          <p>{{ content }}</p>
        </section>

        <aside id="sidebar">
          <a href="" class="button">
            <small>Download book as</small>
            PDF
          </a>
          <p>Change this page <a href="//github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">on GitHub</a>.</p>
        </aside>

      </div>
    </div>

{% include footer.html %}

{% include html-end.html %}