{% include html-start.html %}

	{% include header-masthead.html %}


    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          <p>{{ content }}</p>
        </section>

        <aside id="sidebar">
<!--          <a href="" class="button">
            <small>Download book as</small>
            PDF
          </a> -->
          <p>This book is free culture, <a href="//github.com/fontforge/designwithfontforge.com/" target="_blank">hosted on GitHub</a>. Patches, suggestions, and corrections are welcome.</p>
          <p><a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">Edit this page</a> (or <a href="https://github.com/fontforge/designwithfontforge.com">learn how</a>.)</p></p>
        </aside>

      </div>
    </div>

{% include footer.html %}

{% include html-end.html %}
