{% include html-start.html %}

	{% include header-masthead_zh-TW.html %}


    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          <p>{{ content }}</p>
        </section>

        <aside id="sidebar">
<!--          <a href="" class="button">
            <small>Download book as</small>
            PDF
          </a> -->
          <p>本書即是自由文化，<a href="//github.com/fontforge/designwithfontforge.com/" target="_blank">採 GitHub 代管</a>。歡迎提供補丁、建議、校正。</p>
          <p><a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">編修此頁</a> (<a href="https://github.com/fontforge/designwithfontforge.com">瞭解作法</a>)</p></p>
        </aside>

      </div>
    </div>

{% include footer_zh-TW.html %}

{% include html-end.html %}
